#header {
    @include end;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 4vw);
    padding: 1vw 2vw;
    border-bottom: 1px solid #111;
    background: #f0ede6;
    text-align: center;
    transition: .5s ease;
    z-index: 11;
    .text__toggle {
        position: absolute;
        top: 1.45vw;
        left: 2vw;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -10px;
        opacity: 0;
        .text { display: inline-block; overflow: hidden;
            &:nth-child(7), &:nth-child(9), &:nth-child(13) { padding-right: 10px; }
        }
    }
    .menu__list { @include center; width: 100%; padding-left: 30px;
        .list { position: relative; padding: 10px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                width: 100%;
                height: 100%;
                transition: .4s ease;
                background: $primary-color;
            }
            a { font-size: 20px; font-weight: bold; line-height: 0px; color: #fff; }
        }
    }
    &.top {
        .logo { top: 8vw; left: 2vw; width: calc(100vw - 4vw); transform: translate(0%, 0vw); }
        .text__toggle { opacity: 1;
            .text {
                span {
                    display: inline-block;
                    letter-spacing: 0px;
                    transform: translate(0px, 0px);
                    animation: text-toggle;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }
                @for $i from 1 through 19 {
                    &:nth-child(#{$i}) {
                        span {
                            animation-delay: $i / 4 + s;
                            animation-duration: $i / 8 + s;
                        }
                    }
                }
            }
        }
        .menu__list {
            .list { position: relative;
                &:after { content: ''; height: 0%; background: transparent; }
                a { color: #000; }
            }
        }
    }
    &.scroll-active { pointer-events: none;
        .logo { transform: translate(-90px, 0px); transition: .5s ease; opacity: 0; }
        .menu--btn { transition: .5s ease; transform: translate(90px, 0px); opacity: 0; }
    }
    .logo {
        position: absolute;
        top: 1.6vw;
        left: 2vw;
        width: 8vw;
        line-height: 0px;
        transform: translate(0px, 0px);
        transition: .5s ease;
        img {
            transform-origin: left top;
            transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
            transform: translate3d(0 px , 0 px , 0 px ) scale(1);
        }
    }
    .menu--btn {
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: .5s ease;
        z-index: 11;
        span {
            display: block;
            width: 40px;
            height: 5px;
            margin: 10px;
            background: #111;
        }
    }
    .menu--view {
        @include center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        transition: 0.5s ease-in-out;
        &.active { pointer-events: all; opacity: 1;
            .menu__menubox--view{
                .menubox__list {
                    .list {
                        a { transform: translateY(0); }
                    }
                }
            }
        }
        .menu--dim { width: 100%; height: 100%; background: #fff; opacity: 0.95; }
        .menu__menubox--view { display: flex; position: fixed; flex-wrap: nowrap; align-items: center; -webkit-box-align: center; text-align: left;
            .menubox__list {
                .list { padding: 0px 20px; overflow: hidden; transition: 0.5s ease;
                    &:hover { transform: translate3d(-10px, -10px, 0px); }
                    a {
                        display: inline-block;
                        font-size: 125px;
                        font-weight: bold;
                        transform: translateY(100%);
                        transition: 0.5s ease;
                        text-shadow: 1px 1px 1px #545454;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 50px;
                            right: -10px;
                            width: 30px;
                            height: 30px;
                            display: block;
                            background: linear-gradient(45deg, $primary-color, #6C63FF00);
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}
