#header {
    @include end;
    position: sticky;
    top: 0px;
    left: 0px;
    width: calc(100% - 10vw);
    padding: 2vw 1vw;
    margin: 0 auto;
    border: 4px solid $black-color;
    background: $bg-color;
    text-align: center;
    transition: .5s ease;
    z-index: 11;
    &.hide { transform: translate(0px, -126px); }
    &.half { padding: 1vw; }
    &.active {
        &.half {
            .logo { top: 1.35vw; }
        }
        .logo { top: 2.35vw; left: 2vw; width: 12vw;
            img {
                transform-origin: left top;
                transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
                transform: translate3d(0 px , 0 px , 0 px ) scale(1);
            }
        }
        .text__toggle { opacity: 0;
            .text__inner { animation-play-state: paused; }
        }
        .menu__list {
            .list { position: relative;
                &:after { content: ''; height: 100%; background: $black-color; }
                a { color: $bg-color; }
            }
        }
    }
    .text__toggle {
        display: flex;
        position: absolute;
        top: 2.3vw;
        left: 2vw;
        width: 15vw;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        opacity: 1;
        transition: .2s linear;
        .text__inner {
            padding: 0 1vw;
            animation: text-toggle-marquee 3s linear infinite;
            white-space: nowrap;
        }
        .text {
            &:nth-child(7), &:nth-child(9), &:nth-child(13) { padding-right: 10px; }
            span {
                display: inline-block;
                letter-spacing: 0px;
                transform: translate(0px, 0px);
            }
        }
    }
    .menu__list { @include center; width: 100%; padding-left: 30px;
        .list { position: relative; padding: 10px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                width: 100%;
                height: 0%;
                transition: .4s ease;
                background: transparent;
            }
            a { font-size: 20px; font-weight: bold; line-height: 0px; color: $black-color; }
        }
    }
    .logo {
        position: absolute;
        top: 10vw;
        left: 2vw;
        width: calc(100vw - 12vw);
        line-height: 0px;
        transform: translate(0px, 0px);
        transition: .5s ease;

    }
    .menu--btn {
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: .5s ease;
        z-index: 11;
        span {
            display: block;
            width: 40px;
            height: 5px;
            margin: 10px;
            background: #111;
        }
    }
    .menu--view {
        @include center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        transition: 0.5s ease-in-out;
        &.active { pointer-events: all; opacity: 1;
            .menu__menubox--view{
                .menubox__list {
                    .list {
                        a { transform: translateY(0); }
                    }
                }
            }
        }
        .menu--dim { width: 100%; height: 100%; background: #fff; opacity: 0.95; }
        .menu__menubox--view { display: flex; position: fixed; flex-wrap: nowrap; align-items: center; -webkit-box-align: center; text-align: left;
            .menubox__list {
                .list { padding: 0px 20px; overflow: hidden; transition: 0.5s ease;
                    &:hover { transform: translate3d(-10px, -10px, 0px); }
                    a {
                        display: inline-block;
                        font-size: 125px;
                        font-weight: bold;
                        transform: translateY(100%);
                        transition: 0.5s ease;
                        text-shadow: 1px 1px 1px #545454;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 50px;
                            right: -10px;
                            width: 30px;
                            height: 30px;
                            display: block;
                            background: linear-gradient(45deg, $primary-color, #6C63FF00);
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}
#container {
    position: relative;
    width: calc(100% - 8vw);
    margin: 0 auto;
    padding-top: 19vw;
    border-left: 4px solid $black-color;
    border-right: 4px solid $black-color;
    overflow: hidden;
    &:before {
        content: 'welcome to my portfolio';
        position: fixed;
        top: 50%;
        left: 1.5vw;
        z-index: 10;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
        transform: rotate(-90deg) translateX(-186px);
        transform-origin: left top;
    }
    &:after {
        content: 'glad to meet you!';
        position: fixed;
        top: 50%;
        right: 1.5vw;
        font-size: 10px;
        z-index: 10;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
        transform: rotate(90deg) translateX(129px);
        transform-origin: right top;
    }
}
.typograph {
    width: 92vw;
    margin: 0 auto;
    background: #1d1d1b;
    color: #cdc6be;
    font-size: 27.5vw;
    font-weight: bold;
    font-family: $logo;
    text-indent: 0.5vw;
    letter-spacing: -4vw;
    text-shadow: 10px 10px 10px #000;
}
.top__banner {
    position: relative;
    width: 96vw;
    height: 14.6vw;
    margin: 0 auto;
    border-top: 4px solid $black-color;
    border-bottom: 4px solid $black-color;
    overflow: hidden;
    .top--marquee {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        animation: top-marquee 10s linear infinite;
        .text {
            width: fit-content;
            padding: 0 1vw;
            font-size: 10vw;
            font-weight: 900;
            font-style: italic;
            white-space: nowrap;
        }
    }
    .banner__marquee--text {
        display: flex;
        position: absolute;
        top: -9vw;
        left: -14vw;
        animation: banner-marquee-01 10s linear infinite;
        .text {
            width: fit-content;
            padding: 0 1vw;
            font-size: 10vw;
            font-weight: 900;
            font-style: italic;
            white-space: nowrap;
        }
    }
}
.prologue {
    &.active {
        .prologue--text {
            animation: 0.8s introTextAnimation forwards;
            &.effect-blur { animation-delay: 0.4s; }
            &.effect-line { animation-delay: 0.2s;
                &::after { content: ''; animation: 0.5s TopBottomAnimation forwards; animation-delay: 2s; }
            }
            .inner-dot { animation: 1.5s dotAnimation forwards; animation-delay: 1s; }
        }
    }
    .prologue--text {
        position: relative;
        height: 13vw;
        line-height: 13vw;
        font-size: 15vw;
        font-family: $logo;
        color: $black-color;
        letter-spacing: 15px;
        text-transform: uppercase;
        transition: 1s cubic-bezier(0.74, 0.51, 0.51, 1.26);
        opacity: 0;
        &.effect-dot { width: 52vw;
            .inner-dot {
                position: absolute;
                bottom: 0.15vw;
                right: -9.5vw;
                width: 4vw;
                height: 3.4vw;
                border-radius: 100%;
                background: $primary-color;
                transition: 1s cubic-bezier(0.32, 0.18, 0.26, 0.84);
                opacity: 0;
                box-shadow: 1px 1px 10px 0px #151414;
            }
        }
        &.effect-blur { animation-delay: 0.4s; }
        &.effect-line { animation-delay: 0.2s;
            &:after {
                content: '';
                position: absolute;
                bottom: -4vw;
                left: 29vw;
                width: 30vw;
                height: 8vw;
                border-radius: 100px;
                background: rgb(0, 54, 255, 0.8);
                box-shadow: 1px 1px 1px 0px #151414;
                transition: 1s ease-in-out;
                opacity: 0;
            }
        }
    }
}
.loading {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 30vw auto;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #aea8a2, -20px -20px 60px #ece4db;
    &--circle {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        background: $primary-color;
        border-radius: 13px;
        box-shadow: 1px 1px 2px 0px #5d1717;
        transition: 0.2s ease-in-out;
        animation: 1s dotBadge infinite both;
        &:nth-child(1) { left: 20%; animation-delay: 0.1s; }
        &:nth-child(2) { animation-delay: 0.3s; }
        &:nth-child(3) { left: auto; right: 20%; animation-delay: 0.5s; }
    }
}
.card { position: relative; height: 100vw; overflow: hidden;
    .card__marquee--text {
        display: flex;
        position: absolute;
        color: $black-color;
        &.marquee--2 { bottom: 60%;  left: -14vw; animation: banner-marquee-02 8s linear infinite; }
        &.marquee--3 { bottom: 50%;  right: 14vw;  animation: banner-marquee-03 8s linear infinite; }
        .text {
            width: fit-content;
            font-size: 10vw;
            font-weight: 900;
            font-style: italic;
            white-space: nowrap;
        }
    }
    .card--image { position: absolute; top: 50%; left: 50%; transform: translate(-85%, -50%) rotate(5deg);
        img { width: 700px; @include border-line; }
    }
    .card__info--text {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(97%, -50%) rotate(-1deg);
        width: 700px;
        line-height: 50px;
        padding: 200px 0px 200px 80px;
        letter-spacing: -6px;
        color: $white-color;
        font-size: 60px;
        font-weight: bold;
        background: $black-color;
        .inner--text {
            line-height: normal;
            padding-top: 40px;
            letter-spacing: 0px;
            font-size: 24px;
            font-weight: normal;
        }
    }
}
.appeal {
    display: grid;
    height: 50vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    // transform: rotate(-5deg);
    .appeal--text { color: #111; font-size: 7vw; font-family: $logo;
        .appeal--image { width: 5.1vw; padding: 0px 10px; vertical-align: baseline; transition: .3s ease-in-out; filter: blur(2px); }
        span { display: inline-block; transition: .3s ease-in-out; }
        &:nth-child(2){
            span {
                &:hover { text-shadow: 4px 4px 3px #111;
                    .appeal--image { filter: blur(0px); }
                }
            }
        }
    }
}

.horizontal__scroll { overflow-x: hidden;
    .horizontal__scroll--pin { display: flex; position: relative; z-index: 1; height: 100vh; overflow: hidden; }
    .horizontal__scroll__items {
        display: flex; position: relative; z-index: 1; height: 100vh;
        &.to-right  { counter-reset: item; }
        &.to-left { counter-reset: item 11;
            .item {
                &:before {
                    content: counter(item);
                    counter-increment: item -1;
                }
            }
        }
        .item {
            position: relative;
            display: flex;
            flex: 0 0 100vw;
            line-height: 1.7;
            padding: 0px 80px;
            border-right: 1px solid rgba(0, 0, 0, 0.06);
            font-size: 13vw;
            font-weight: bold;
            font-family: $logo;
            text-transform: uppercase;
            align-items: center;
            user-select: none;
            background-color: transparent;
            &:before {
                position: absolute;
                bottom: 10%;
                z-index: -1;
                line-height: 1;
                font-size: 100px;
                font-weight: bold;
                opacity: .13;
                counter-increment: item;
                content: counter(item);
            }
            // &:nth-child(2n+2) { align-items: flex-start; }
            // &:nth-child(4n+4) { align-items: flex-end; }
        }
    }
}
