
@font-face {
	font-family: 'logo';
	src: local('logo'),
    url('./assets/font/Futura_XBlk_BT.woff') format('woff'),
	url('./assets/font/Futura_XBlk_BT.woff2') format('woff2');
	unicode-range: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+0041-005A, U+0061-007A, U+0030-0039;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '900';
	src: local('font'),
	url('./assets/font/AppleSDGothicNeoH.woff2') format('woff2'),
	url('./assets/font/AppleSDGothicNeoH.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '800';
	src: local('font'),
	url('./assets/font/AppleSDGothicNeoEB.woff2') format('woff2'),
	url('./assets/font/AppleSDGothicNeoEB.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '700';
	src: local('font'),
	url('./assets/font/AppleSDGothicNeoB.woff2') format('woff2'),
	url('./assets/font/AppleSDGothicNeoB.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '500';
	src: local('font'),
	url('./assets/font/AppleSDGothicNeoM.woff2') format('woff2'),
	url('./assets/font/AppleSDGothicNeoM.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

@font-face {
	font-family: 'font';
	font-weight: '300';
	src: local('font'),
	url('./assets/font/AppleSDGothicNeoL.woff2') format('woff2'),
	url('./assets/font/AppleSDGothicNeoL.woff') format('woff');
	unicode-range: U+AC00-D7A3;
	font-display: fallback;
}

// VARIABLE

$white-color: #fff;
$black-color: #111;
$primary-color: #0036ff;
$second-color: #ddbe9f;
$bg-color: #f0ede6;
$border-color: #111;

$size-s :14px;
$size-m :18px;
$size-l :24px;

$align-top: top;
$align-middle: middle;
$align-bottom: bottom;
$align-left: left;
$align-center: center;
$align-right: right;

$futura-logo: 'logo';
$font: "font",sans-serif;

$marquee-width: 100vw;
$offset: 20vw;
$move-initial: calc(-25% + $offset);
$move-final: calc(-50% + $offset);
$item-font-size: 10vw;
// MIXIN

@mixin center { display: flex; justify-content: center; align-items: center; }
@mixin between { display: flex; justify-content: space-between; align-items: center; }
@mixin end { display: flex; justify-content: end; }
@mixin box-sizing($css-selector) {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
@mixin clearfix {
    &::after { content: ''; display: table; clear: both; }
}
@mixin spritebox($left, $top, $width, $height) {
	background-repeat: no-repeat;
	background-position: $left $top;
	width: $width;
	height: $height;
}
@mixin border-line {
    border: 1px solid $border-color;
    box-sizing: border-box;
}
@mixin text-stroke {
	text-shadow: .2vw .2vw .2vw #111;
	-webkit-text-stroke: .1vw #111;
	-webkit-text-fill-color: transparent;
}
// KEYFRAMES
@keyframes introTextAnimation {
    from { opacity: 0; transform: translate(-500px, -100px); }
    to { opacity: 1; transform: translate(-80px, 0px); }
}
@media screen and ( max-width: 750px ) {
	@keyframes introTextAnimation {
		from { opacity: 0; transform: translate(-500px, -50px); }
		to { opacity: 1; transform: translate(-5vw, 0px); }
	}
}
// 메인 텍스트 dot
@keyframes dotAnimation {
	10% { transform: translate(1100px, 0px); opacity: 0; }
	100% { transform: translate(0px, 0px); opacity: 1;}
}
// 메인 텍스트 박스 dot
@keyframes TopBottomAnimation {
	from { opacity: 0; transition: 1s ease-in-out; }
	to { opacity: 1; transition: 1s ease-in-out; }
}
/* 도트 배지 */
@keyframes dotBadge {
	from { opacity: 1; }
	to { opacity: 0.4; }
}
/* 텍스트 애니메이션*/
@keyframes text-marquee {
	0% { transform: translate3d($move-initial, 0, 0); }
	100% { transform: translate3d($move-final, 0, 0); }
}
@keyframes top-marquee {
	0% { transform: translate3d(calc(25%), 0, 0); }
	100% { transform: translate3d(calc(50%), 0, 0); }
}
@keyframes banner-marquee-01 {
	0% { transform: rotate(-20deg) translate3d($move-initial, 0, 0); }
	100% { transform: rotate(-20deg) translate3d($move-final, 0, 0); }
}
@keyframes banner-marquee-02 {
	0% { transform: rotate(-8deg) translate3d($move-initial, 0, 0); }
	100% { transform: rotate(-8deg) translate3d($move-final, 0, 0); }
}
@keyframes banner-marquee-03 {
	0% { transform: rotate(3deg) translate3d(calc(25%), 0, 0); }
	100% { transform: rotate(3deg) translate3d(calc(50%), 0, 0); }
}
@keyframes text-toggle-marquee {
	0%   { -webkit-transform: translate(0%);}
 	100% { -webkit-transform: translate(-100%);}
}
.container { background: $bg-color; }
.cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f5f5f5;
	pointer-events: none;
	mix-blend-mode: difference;
	z-index: 999;
    opacity: 0;
	transition: transform 0.1s;
}
.text-3d {
    z-index: -1;
    margin: 0;
    font-size: 15vw;
    font-weight: 900;
    color: rgba(#4fbc9d, 0.5);
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    transform: skew(10deg) rotate(-10deg);
    text-shadow: 1px 4px 6px #e6e2df, 0 0 0 #66303a, 1px 4px 6px #e6e2df;
    white-space: nowrap;
	&:before {
        content: attr(data-heading);
        position: absolute;
        left: -0.2%;
        top: -5%;
        z-index: 2;
        width: 100%;
        height: 50%;
        color: #fbf7f4;
		text-shadow: 2px -1px 6px rgba(0,0,0,0.2);
        overflow: hidden;
        transform: translate(1.6vw, 0) skew(-13deg) scale(1, 1.2);
	}
	&:after {
        content: attr(data-heading);
        position: absolute;
		top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        color: #d3cfcc;
		text-shadow: 2px -1px 6px rgba(0,0,0,0.3);
        overflow: hidden;
        transform: translate(0, 0) skew(13deg) scale(1, 0.8);
        clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
	}
}
/* 섹션 타이틀 */
.section-title {
	padding: 10vw 34vw 0;
	font-size: 5.56vw;
	font-weight: bold;
	color: #111;
	text-align: center;
	letter-spacing: -7px;
	text-transform: uppercase;
	div {
		background: #111;
		color: #fff;
		transform: rotate(1.2deg);
	}
}
/* 텍스트 외곽선 */
.text-stroke { @include text-stroke; }
